/* In your global styles or tailwind.css file */

.neumorphic-input {

  box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff;
}

.neumorphic-input:focus {

  box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff;
}

.neumorphic-button {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.8), 2px 2px 5px rgba(186, 190, 204, 0.8);
}

.neumorphic-button:hover {
  box-shadow: inset 4px 4px 8px #05050578;
}

.neumorphic-button:active {
  box-shadow: inset 4px 4px 8px #05050578;
}

.neomorphic-dot {
  box-shadow: inset -8px -8px 10px rgba(230, 24, 24, 0.9), inset 8px 8px 10px rgba(230, 24, 24, 0.9);
  border-radius: 50%;
}